<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://e-spirit.github.io/Antora/cloud/1.0/index.html">Cloud</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Headless</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://e-spirit.github.io/Antora/headless/1.0/CaaS/CaaS_FSM_Documentation_EN.html">CaaS</a>
            <a class="navbar-item" href="https://e-spirit.github.io/Antora/headless/1.0/CaaS_Connect/CaaS_Connect_FSM_Documentation_EN.html">CaaS Connect</a>
            <a class="navbar-item" href="https://e-spirit.github.io/Antora/headless/1.0/CaaS_Platform/CaaS_Platform_Documentation_EN.html">CaaS Platform</a>
            <a class="navbar-item" href="https://e-spirit.github.io/Antora/headless/1.0/Nav_Service_FSM/index.html">Navigation Service (FSM)</a>
            <a class="navbar-item" href="https://e-spirit.github.io/Antora/headless/1.0/Nav_Service_Platform/documentation.html">Navigation Service (Platform)</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">E-Commerce</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://e-spirit.github.io/Antora/ecom/1.0/Spryker/index.html">Spryker</a>
            <a class="navbar-item" href="https://e-spirit.github.io/Antora/ecom/1.0/Spartacus/chapters/introduction.html">Spartacus</a>
            <a class="navbar-item" href="https://e-spirit.github.io/Antora/ecom/1.0/Salesforce/index.html">Salesforce</a>
            <a class="navbar-item" href="https://e-spirit.github.io/Antora/ecom/1.0/SAP_Classic/firstspiritconnect-sap-documentation_EN.html">SAP Classic</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">FirstSpirit</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://docs.e-spirit.com/lp/?locale=en&main=firstspirit&sub=editors">Editors</a>
            <a class="navbar-item" href="https://docs.e-spirit.com/lp/?locale=en&main=firstspirit&sub=developers">Developers</a>
            <a class="navbar-item" href="https://docs.e-spirit.com/lp/?locale=en&main=firstspirit&sub=administrators">Administrators</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Crownpeak</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://e-spirit.github.io/Antora/dxm/1.0/index.html">DXM</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
