<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Cloud</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Headless</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Product A</a>
            <a class="navbar-item" href="#">Product B</a>
            <a class="navbar-item" href="#">Product C</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">E-Commerce</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://e-spirit.github.io/Antora/ecom/1.0/Spryker/index.html">Spryker</a>
            <a class="navbar-item" href="https://e-spirit.github.io/Antora/ecom/1.0/Spartacus/index.html">Spartacus</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">FirstSpirit</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://docs.e-spirit.com/lp/?locale=en&main=firstspirit&sub=editors">Editors</a>
            <a class="navbar-item" href="https://docs.e-spirit.com/lp/?locale=en&main=firstspirit&sub=developers">Developers</a>
            <a class="navbar-item" href="https://docs.e-spirit.com/lp/?locale=en&main=firstspirit&sub=administrators">Administrators</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Crownpeak</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Resource A</a>
            <a class="navbar-item" href="#">Resource B</a>
            <a class="navbar-item" href="#">Resource C</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
